@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/scss2/custom.scss";

// //Import Light mode
@import "./assets/scss2/style.scss";

body {
  overflow-y: scroll !important;
}

.ant-form-item-label > label {
  float: left;
  font-weight: bold;
}

.menu-extras {
  display: none;
}

.back-to-home {
  z-index: 10;
}

@media only screen and (max-width: 768px) {

  .features {
    min-height: 215px;
  }
}

@media only screen and (min-width: 320px) {
  .buy-button {
    transform: scale(.9);
  }

  .text-center-mobile {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .buy-button {
    transform: scale(1);
  }

  .text-center-mobile {
    text-align: inherit;
  }
}

//Import Dark RTL mode
// @import './assets/scss2/style-dark-rtl.scss';

//Import RTL mode
// @import './assets/scss2/style-rtl.scss';

// Import Dark Mode
// @import './assets/scss2/style-dark.scss';
